.Pizza {
  background-color: #ecae5c;
  width: 300px;
  margin: auto;
  height: 300px;
  border-radius: 50%;
  position: relative;
}

.noToppings {
  color: azure;
  font-size: 30px;
  top: 130px;
  position: absolute;
  left: 50px;
  font-weight: bold;
}
