.displayTotal {
  text-align: right;
  background-color: blueviolet;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  color: aliceblue;
}

.CheckOut{
  width: 200px;
  font: inherit;
  padding: 5px;
  margin: 0 20px;
  border: 1px solid greenyellow;
  cursor: pointer;
  outline: none;
}