.Corn {
  background-color: #ffeb00;
  width: 30px;
  margin: auto;
  height: 30px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.Corn_1 {
  left: 30px;
  top: 30px;
}

.Corn_2 {
  left: 0px;
  top: 110px;
}

.Corn_3 {
  left: -90px;
  top: 50px;
}

.Corn_4 {
  left: 0px;
  top: 150px;
}

.Corn_5 {
  left: 90px;
  top: 50px;
}

.Cheese {
  background-color: #f7f5b7;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 25px;
  border-radius: 50%;
  z-index: 0;
}

.Paneer {
  background-color: yellow;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.Paneer_1 {
  width: 25px;
  height: 23px;
  box-shadow: 2px 5px #eae15c;
  left: 90px;
  top: 50px;
}

.Paneer_2 {
  width: 25px;
  height: 23px;
  box-shadow: 5px -5px #eae15c;
  left: 185px;
  top: 90px;
}

.Paneer_3 {
  width: 25px;
  height: 23px;
  box-shadow: -5px 5px #eae15c;
  left: 70px;
  top: 175px;
}

.Meat {
  background-color: #932700;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.Meat_1 {
  width: 25px;
  height: 23px;
  box-shadow: -1px 2px #c15f35;
  left: 90px;
  top: 105px;
}

.Meat_2 {
  width: 25px;
  height: 23px;
  box-shadow: 0px -4px #c15f35;
  left: 170px;
  top: 175px;
}
